@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    /* background large */
    background-attachment: fixed;
    background-image: url("./images/bluePink.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #E4E4E4;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: bold;
}

svg {
    width: 35px;
}

.bot-box {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.box-model {
    margin-top: 4rem;
}

.img-margin {
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}

.top-img-el {
    margin-top: 2rem;
}

.cust-portrait {
    float: left;
    margin-right: 0.5rem;
    width: 300px;
}

.footer-margin {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}

.content::after{
    content: "\a \a";
    white-space: pre;
}

.tab {
    margin-left: 30px;
}

@media only screen and (max-width: 767px) {
    body {
    background-image: url("./images/bluePink.jpg");
    background-size: cover;
    object-fit: cover 100%;
    position: relative;
    }

    .get-small {
        padding-left: .2rem;
        padding-right: .2rem;
    }
}
