/* * {
    background: #E4E4E4
} */


body {
    /* background large */
    background-attachment: fixed;
    background-image: url("./images/bluePink.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #E4E4E4;
}

.box-model {
    /* background: #E4E4E4; */
    margin-top: 4rem;
}

.img-margin {
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}

.top-img-el {
    margin-top: 2rem;
}

.cust-portrait {
    float: left;
    margin-right: 0.5rem;
    width: 300px;
}

.form-control {
    width: 350px;
}

.footer-margin {
    /* box-sizing: border-box; */
    /* position: absolute; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    /* height: 100px; */
}

br {
    margin-top: 3px;
}

/* screen media large to small */
@media only screen and (max-width: 767px) {
    body {
    background-image: url("./images/bluePink.jpg");
    background-size: cover;
    object-fit: cover 100%;
    position: relative;
    }

    /* img-margin {
        margin: 0 0 0 0;
    } */
}
