/* * {
    background: #E4E4E4
} */


body {
    /* background large */
    background-attachment: fixed;
    background-image: url("./images/bluePink.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #E4E4E4;
}

.contact-box-model {
    margin-top: 4rem;
}
/* 
.card-container {
    margin: 20px 20px 20px 20px;
} */

/* .card {
    margin-bottom: 10px;
} */

/* screen media large to small */
@media only screen and (max-width: 767px) {
    body {
    background-image: url("./images/bluePink.jpg");
    background-size: cover;
    object-fit: cover 100%;
    position: relative;
    }
}
